@import "./../../styles/variables.scss";

.container {
  position: relative;
  height: 100vh;
  min-height: 800px;
  margin: 0 auto;
  overflow-y: scroll;
}

.container::-webkit-scrollbar {
  display: none;
}

.video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 900%;
  background: rgba($dark, 0.3);
  padding-top: $headerHeight2;
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: 1fr;
  grid-auto-rows: 275px;
  gap: $spacing-md;
  margin-bottom: $spacing-sm;
  align-items: center;
  justify-content: center;

  @include breakpoint(sm) {
    grid-template-columns: repeat(1fr);
    grid-auto-rows: 250px;
  }

  @include breakpoint(lg) {
    grid-template-columns: repeat(1fr);
  }

  &__content {
    margin: 0 1.5rem;
    background: rgba($dark, 0.6);
    backdrop-filter: blur(2px);
    padding: $spacing-lg;
    border-radius: $borderRadius;
    text-align: center;
    width: 1000px;
    display: flex;
    flex-direction: column;
    letter-spacing: $letterSpacing;
    text-transform: uppercase;

    @include breakpoint(md) {
      text-align: center;
    }

    &__title {
      font-size: 2.4rem;
      color: $white;
      font-weight: 700;
      margin-bottom: $spacing-sm;
      //cos the elements inside get smaller, we use multiple media queries
      @include breakpoint(md) {
        font-size: 3rem;
      }
      @include breakpoint(sm) {
        font-size: 3.8rem;
      }
    }

    &__tagline {
      font-size: 1.2rem;
      font-weight: 700;
      color: $light;
      font-style: italic;
      margin-bottom: $spacing-md;
      @include breakpoint(md) {
        font-size: 1.4rem;
      }
      @include breakpoint(sm) {
        font-size: 1.6rem;
      }
    }

    &__codes {
      font-size: 0.8rem;
      font-weight: 400;
      color: $white;
      font-style: italic;
      margin-bottom: $spacing-md;
      @include breakpoint(md) {
        font-size: 1rem;
      }
      @include breakpoint(sm) {
        font-size: 1.2rem;
      }
    }

    &__item {
      cursor: pointer;
      position: relative;
      border-radius: $borderRadius;
      border: 2px solid $light;
      transition: 0.3s ease all;
      box-shadow: $boxShadow;

      &__img {
        padding: $spacing-sm;
      }
    }

    &__description {
      text-transform: none;
      color: $light;
      width: 100%;
      font-size: 1rem;
      margin-bottom: $spacing-lg;
      line-height: 20px;
      padding-top: $spacing-md;
      margin: auto;
      margin-bottom: $spacing-sm;

      @include breakpoint(sm) {
        font-size: 1.1rem;
        width: 80%;
      }
      @include breakpoint(md) {
        width: 60%;
        margin: 0 auto $spacing-lg auto;
      }
    }

    &__cta {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      button {
        width: 100%;
      }
      button:not(:last-child) {
        margin-bottom: $spacing-sm;
      }

      @include breakpoint(md) {
        align-items: center;
        button {
          width: auto;
        }
        margin: 0 auto;
        flex-direction: row;
        button:not(:last-child) {
          margin-bottom: 0;
          margin-right: $spacing-sm;
        }
      }

      &__item {
        cursor: pointer;
        border: none;
        outline: none;
        border-radius: $borderRadius;
        padding: $spacing-sm $spacing-lg;
        font-family: inherit;
        font-weight: 700;
        letter-spacing: $letterSpacing;
        font-size: 1.1rem;
        background: $light;
        color: $dark;
        border: 1px solid $dark;
        transition: all 0.3s ease;
        text-decoration: none;
        text-transform: none;
        width: 100%;

        &:hover {
          background: rgba($light, 0.8);
        }

        @include breakpoint(md) {
          white-space: nowrap;
          width: 100%;
        }

        &__icon {
          align-items: center;
          margin-right: $spacing-sm;
        }
      }
    }
  }
}
