@import "./../../styles/variables.scss";

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  background: $dark;
  position: relative;
}

.footer {
  padding: 100px 0 25px 0;
  width: 1000px;
  margin: 0 1.5rem;

  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;

    &__headline {
      color: $white;
      font-size: 1.6rem;
      letter-spacing: $letterSpacing;
      margin-bottom: $spacing-md;
      @include breakpoint(md) {
        font-size: 2.6rem;
      }
    }
    span {
      color: $white;
      font-size: 1.1rem;
      margin-bottom: $spacing-md;
    }

    &__form {
      display: flex;
      flex-direction: column;
      align-items: center;

      button {
        margin-top: $spacing-md;
        width: 100%;
      }

      @include breakpoint(md) {
        button {
          width: auto;
        }
        flex-direction: row;
      }

      .input {
        letter-spacing: $letterSpacing;
        font-family: inherit;
        font-size: 1.1rem;
        margin-bottom: $spacing-sm;
        padding: $spacing-sm $spacing-md;
        border-radius: $borderRadius;

        @include breakpoint(md) {
          width: 700px;
          margin-bottom: 0;
          margin-right: $spacing-sm;
          margin-bottom: $spacing-sm;
        }

        &:focus {
          outline: 0;
        }
      }

      .textarea {
        letter-spacing: $letterSpacing;
        font-family: inherit;
        width: fit-content;
        font-size: 1.1rem;
        margin-bottom: $spacing-sm;
        padding: $spacing-sm $spacing-md;
        border-radius: $borderRadius;
        width: 100%;

        @include breakpoint(md) {
          width: 700px;
          margin-bottom: 0;
          margin-right: $spacing-sm;
        }

        &:focus {
          outline: 0;
        }
      }
    }
  }

  &__base {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    color: $white;
    @include breakpoint(md) {
      flex-direction: row;
    }
    a,
    ul {
      &:not(:first-child) {
        margin-bottom: $spacing-sm;
        @include breakpoint(md) {
          margin-bottom: 0;
        }
      }
      @include breakpoint(md) {
        flex: 1;
      }
    }
    &__socials {
      display: flex;
      justify-content: flex-end;
      li {
        &:not(:last-child) {
          margin-right: $spacing-md;
          @include breakpoint(md) {
            margin-right: $spacing-sm;
          }
        }
        a {
          font-size: 1.6rem;
          color: $white;
          text-decoration: none;
        }
      }
    }
  }
}
